# Telegram bot token
BOT_TOKEN=
# PostgreSQL connection details
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# § Database connection URL eg: postgresql://telegrambot:change_me_in_local_env@localhost:5432/telegrambot
DATABASE_URL=

